<section class="p-6">
  <h2 class="text-medium text-2xl">Welcome to Ever 👋</h2>
  <p class="mt-5">Thanks for using Ever as your task manager!!</p>
  <p class="mt-5">I created this to organize my tasks!</p>
  <p>This is for only Administrators where they can manage workspace or see stats.</p>
  <p>Please note that I am not giving admin permission to anybody except myself.</p>
</section>
