<section class="p-6">
  <header>
    <h1>Ever</h1>
  </header>
  <h2 class="text-medium text-2xl">Welcome to Ever 👋</h2>
  <p class="mt-5">I created this to organize my tasks!</p>
  <div class="flex justify-center mt-12">
    <%= live_patch "Your Dashbaord", to: Routes.live_path(@conn, EverWeb.DashboardLive), class: "text-2xl font-medium bg-blue-500 px-6 py-4 text-white rounded-md" %>
  </div>
</section>
